In [1]:
import pandas as pd
import requests
from config import api_key
import json
import csv

import datetime
from datetime import date
import re

In [2]:
output_data_file = "stock_info.csv"
nasdaq_pd = pd.read_csv("nasdaq.csv")
nasdaq_pd

  company_name nasdaq  id
0     Microsft   MSFT   3
1       Google  GOOGL   5
2      Netflix   NFLX   4
3       Amazon   AMZN   1
4        CISCO   CSCO   2

In [3]:
url = "https://www.alphavantage.co/query?"
function = "TIME_SERIES_DAILY_ADJUSTED"
datatype="json"
outputsize='compact'

response_df = pd.DataFrame()
response_df['NASDAQ'] = ""

In [4]:
date_l=[]
open_l=[]
high_l=[]
low_l=[]
close_l=[]
adjusted_close_l=[]
volume_l=[]
dividend_amount_l=[]
split_coefficient_l=[]
comp_name_l=[]
date_list=[]
meta_list=[]
comp_id=[]

In [5]:
for index, row in nasdaq_pd.iterrows():
    try:

        symbol = row['nasdaq']
        query_url=f"{url}function={function}&symbol={symbol}&outputsize={outputsize}&apikey={api_key}&datatype={datatype}"  
        stock_response = requests.get(query_url)
        stock_json = stock_response.json()
        #print(json.dumps(stock_json,indent=4))
       
        date=stock_json["Time Series (Daily)"]
        temp=row['id']

        for d in date.keys():
            date_l.append(d)
            meta_list.append(stock_json["Meta Data"]["2. Symbol"])
            comp_id.append(temp)
            open_l.append(stock_json["Time Series (Daily)"][d]["1. open"])
            high_l.append(stock_json["Time Series (Daily)"][d]["2. high"])
            low_l.append(stock_json["Time Series (Daily)"][d]["3. low"])
            close_l.append(stock_json["Time Series (Daily)"][d]["4. close"])
            adjusted_close_l.append(stock_json["Time Series (Daily)"][d]["5. adjusted close"])
            volume_l.append(stock_json["Time Series (Daily)"][d]["6. volume"])
            dividend_amount_l.append(stock_json["Time Series (Daily)"][d]["7. dividend amount"])
            split_coefficient_l.append(stock_json["Time Series (Daily)"][d]["8. split coefficient"])
    except KeyError:
        print('Skipping {}'.format(row['nasdaq']))

            
    
stock_df = pd.DataFrame({
    
    'date': date_l,
    'comp_name':meta_list,
    'comp_id':comp_id,
    'open': open_l,
    'close': close_l,
    'high':high_l,
    'low':low_l,
    'adjusted_close':adjusted_close_l,
    'volume':volume_l,
    'dividend_amount':dividend_amount_l,
    'split_coefficient':split_coefficient_l
    
    
})   
#stock_df

In [6]:
stock_data = pd.DataFrame(stock_df)
stock_data.head()

,date,comp_name,comp_id,open,close,high,low,adjusted_close,volume,dividend_amount,split_coefficient
0,2019-11-13,MSFT,3,146.7400,147.0500,147.4625,146.2800,147.0500,7894736,0.0000,1.0000
1,2019-11-12,MSFT,3,146.2800,147.0700,147.5700,146.0600,147.0700,18641600,0.0000,1.0000
2,2019-11-11,MSFT,3,145.3400,146.1100,146.4200,144.7300,146.1100,14362600,0.0000,1.0000
3,2019-11-08,MSFT,3,143.9800,145.9600,145.9900,143.7600,145.9600,16732700,0.0000,1.0000
4,2019-11-07,MSFT,3,143.8400,144.2600,144.8800,143.7700,144.2600,17786700,0.0000,1.0000

In [7]:
len(stock_data)

500

In [8]:
stock_data.dropna(axis = 0, how ='all', inplace = True)

In [9]:
len(stock_data)

500

In [10]:
# stock_data_df = stock_data.drop_duplicates(subset=None, keep='first', inplace=False)
# len(stock_data_df)

In [11]:
#stock_data.to_csv(output_data_file, index=False)

In [12]:
start_date='2019-10-15'
ys, ms, ds=start_date.split('-')
print(ys)

2019

In [13]:
end_date='2019-10-31'
ye, me, de=end_date.split('-')
print(me)

10

In [14]:
datel=[]
openl=[]
highl=[]
lowl=[]
closel=[]
adjusted_closel=[]
volumel=[]
dividend_amountl=[]
split_coefficientl=[]
comp_idl=[]
datelist=[]
metalist=[]

for ind, ro in stock_data.iterrows():
    y, m, d=(ro['date'].split('-'))
    if y==ys and m==ms and d>=ds:
        #print(ro['date'])
        datel.append(ro['date'])
        openl.append(ro['open'])
        closel.append(ro['close'])
        comp_idl.append(ro['comp_id'])
        highl.append(ro['high'])
        lowl.append(ro['low'])
        adjusted_closel.append(ro['adjusted_close'])
        volumel.append(ro['volume'])
        dividend_amountl.append(ro['dividend_amount'])
        split_coefficientl.append(ro['split_coefficient'])

In [15]:
final_stock_df = pd.DataFrame({
    
    'date': datel,
    'comp_id':comp_idl,
    'open': openl,
    'close': closel,
    'high':highl,
    'low':lowl,
    'adjusted_close':adjusted_closel,
    'volume':volumel,
    'dividend_amount':dividend_amountl,
    'split_coefficient':split_coefficientl
    
    
})   
final_stock_df.head()

,date,comp_id,open,close,high,low,adjusted_close,volume,dividend_amount,split_coefficient
0,2019-10-31,3,144.9000,143.3700,144.9300,142.9900,143.3700,24605100,0.0000,1.0000
1,2019-10-30,3,143.5200,144.6100,145.0000,142.7900,144.6100,18496600,0.0000,1.0000
2,2019-10-29,3,144.0800,142.8300,144.5000,142.6500,142.8300,20589500,0.0000,1.0000
3,2019-10-28,3,144.4000,144.1900,145.6700,143.5100,144.1900,35280100,0.0000,1.0000
4,2019-10-25,3,139.3400,140.7300,141.1400,139.2000,140.7300,25959700,0.0000,1.0000

In [16]:
final_stock_df.to_csv(output_data_file, index=False)